@import "tailwindcss"

@keyframes zoomPan {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.08) translate(2%, 2%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

/* Swiper Pagination + Navigation Enhancements */
.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.7 !important;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
  
}
.swiper-pagination-bullet-active {
  background: #ff7f50 !important;
  transform: scale(1.3);
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffff !important;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ff7f50 !important;
  transform: scale(1.1);
}



